.footer-container {
  position: relative;
  overflow: hidden;
  font-family: DIN PRO;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

#footer_logo {
  width: 100px; 
  height: 35px; 
  margin-right: 2px; 
}

@media (min-width: 769px) {
  #footer_logo {
    width: 140px; 
    height: 50px; 
  }

  #footer_logotext {
    font-size: 30px;
  }
}
