#navbar {
  margin-bottom: 10px; 
 
}

#navbar_icon {
  width: 100px; 
  height: 40px; 
  margin-right: 0.2rem; 
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: auto; 
}

#search_field {
  padding: 16px; 
  height: 40px; 
  width: 80%; 
  margin-left: auto;
  margin-top: -35px;
  border-radius: 8px; 
}

.error-input::placeholder {
  font-size: 12px;
  color: brown;
}


@media (min-width: 769px) {
  #navbar {
    margin-bottom: 20px;
  }

  #navbar_icon {
    width: 140px;
    height: 50px; 
     
  }

  .search-container {
    display: flex;
    align-items: center;
    margin-left: auto; 
  }

  #search_field {
    padding: 16px; 
    height: 50px; 
    width: 80%; 
    margin-left: auto;
    margin-top: -40px;
    border-radius: 8px; 
  }
}
