#navbar {
  margin-bottom: 10px; 
 
}

#navbar_icon {
  width: 100px; 
  height: 35px; 
  margin-right: 0.2rem; 
}



.error_message {
  color: red;
  margin: 5px; 
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: auto; 
}

#search_field {
  padding: 16px; 
  height: 40px; 
  width: 60%; 
  margin-left: auto;
  border-radius: 10px; 
}

@media (min-width: 769px) {
  #navbar {
    margin-bottom: 20px;
  }

  #navbar_icon {
    width: 140px;
    height: 50px; 
     
  }

  .search-container {
    display: flex;
    align-items: center;
    margin-left: auto; 
  }

  #search_field {
    padding: 20px;
    height: 30px; 
    width: 70%; 
    margin-left: auto; 
    border-radius: 10px; 
  }
}
