@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DIN PRO', sans-serif;
  margin: 0;
  padding: 0;
}

#navbar {
  margin-bottom: 50px;
}

#details_button {
    background-color: #36d399;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    border-color: #36d399;
}
  
@media (max-width: 850px) {
  .product_card {
    flex-direction: column;
  }
}

.footer {
  background-color: #FFFFFF;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

#contact-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Hintergrund mit einem leichten Overlay */
  z-index: 9999; /* Z-Index, um über anderen Inhalten zu liegen */
}

#contact-modal > .relative {
  width: 100%;
  max-width: 500px; /* Maximale Breite des Modals */
  max-height: 80vh; /* Maximale Höhe des Modals */
  overflow-y: auto; /* Scrollbalken hinzufügen, wenn der Inhalt zu groß ist */
}

.din-pro {
  font-family: 'DIN PRO', sans-serif; 
}





